// Constants
$primary_color: #36204F;
$secondary_color: #806B97;
$tertiary_color: #AF93CF;
$text_color: #FFFFFF;

// General
table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 16px 0;

    td, td * {
        vertical-align: top;
    }
}

body {
    background-color: $primary_color;
    color: $text_color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: $tertiary_color;
}

// Utils
.mb {
    margin-bottom: 16px;
}

// Component
#header, #nav, #footer {
    text-align: center;
}

#footer {
    color: $secondary_color;
    font-size: .8em;
}

#frog-carousel {
    img {
        max-width: 250px;
    }
}

.divider {
    margin: 32px 0px;
    font-size: 14px;
    font-family: Arial; 
    text-align: center;
    span {
        display: inline-block;
        width: 100px;
        animation: rotating 10s linear infinite;
    }
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

// Wikicats

.wikicats-item {
    border: 1px solid $secondary_color;
}