<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
    <table>
        <tr>
            <td colspan="3">
                {% include header.html %}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                {% include nav.html %}
            </td>
        </tr>
        <tr>
            <td>
                <aside class="mb">
                    {% include counter.html %}
                </aside>
                <aside class="mb">
                    {% include pet.html %}
                </aside>
                <aside>
                    {% include chat.html %}
                </aside>
            </td>
            <td>
                <main>
                    <section>
                        {{ content }}
                    </section>
                    <section>
                        <h1>News</h1>
                        <ul>
                            {% for new in site.data.news %}
                            <li>
                                <small>{{ new.date }}</small>
                                <p>{{ new.description }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                </main>
            </td>
            <td>
                <aside class="mb">
                    {% include frog-carousel.html %}
                </aside>
                <aside>
                    {% include pacman.html %}
                </aside>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                {% include footer.html %}
            </td>
        </tr>
    </table>
</body>
</html>