<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
    <table border="1">
        <tr>
            <td colspan="2" id="header">
                <img src="/assets/images/banner.jpg" alt="banner">
            </td>
        </tr>
        <tr>
            <td rowspan="3">
                <aside>
                    {% for post in site.categories['wikicats']  %}
                        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                        {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
                        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
                        {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

                        {% if forloop.first %}
                        <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
                        <h3 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month }}</h3>
                        <ul>
                        {% endif %}

                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>

                        {% if forloop.last %}
                        </ul>
                        {% else %}
                            {% if this_year != next_year %}
                            </ul>
                            <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
                            <h3 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
                            <ul>
                            {% else %}    
                                {% if this_month != next_month %}
                                </ul>
                                <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
                                <ul>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </aside>
            </td>
            <td id="nav">
                <a href="/">Home</a>
                <a href="/about/">About</a>
                <a href="/wikicats/">Wikicats</a>
                <a href="/frogs-awards/">Frogs awards</a>
                <a href="/historias-semanales/">Historias semanales</a>
            </td>
        </tr>
        <tr>
            <td>
                <main>
                    <section>
                        {{ content }}
                    </section>
                    <section>
                        {% for post in site.categories['wikicats'] %}
                            <article>
                                <table width="100%" border="1">
                                    <tr>
                                        <td colspan="2">
                                            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 300px;"><img src="{{ post.image }}" alt="{{ post.title }}"></td>
                                        <td>{{ post.content }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ post.date }}</td>
                                        <td>{{ post.mood }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <!-- LikeBtn.com BEGIN -->
                                                <span class="likebtn-wrapper" data-identifier="{{ post.url }}"></span>
                                                <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
                                                <!-- LikeBtn.com END -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">comments</td>
                                    </tr>
                                </table>
                            </article>
                            {% if forloop.last == false %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </section>
                </main>
            </td>
        </tr>
        <tr>
            <td id="footer">
                Copyright &copy; {{ site.title }}, All rights reserved. {{ site.url }}
            </td>
        </tr>
    </table>
</body>
</html>